body {
    background-color: #F5F3EC !important;
    background-image: linear-gradient(rgba(245, 243, 236, 0.80), rgba(245, 243, 236, 0.80)),
        url(https://img.magnific.com/premium-vector/food-background-vegetables-seamless-pattern-healthy-eating-tomato-garlic-carrot-pepper_787654-45.jpg);
}

main {
    margin: auto;
    padding: 50px 40px;
    min-height: calc(100vh - 154px);
}

.container>.row {
    margin: 60px 0;
    justify-content: space-between;
    gap: 3ch;
}

#titleHead {
    margin-top: 1%;
}

#description {
    border: solid;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    text-align: center;
    background-color: rgb(200, 198, 198);
    border-radius: 20px;
}

form label {
    display: block;
    font-size: 20px;
}

form input {
    width: 80%;
    font-size: 20px;
}

#foodInfo {
    width: 28%;
    font-size: 25px;
    padding: 25px;
    border: solid;
    background-color: whitesmoke;
    border-radius: 20px;
}

#foodInfoHead {
    font-size: 30px;
}

#results {
    max-width: 220px;
    padding: 15px;
    border: solid;
    border-radius: 20px;
    background-color: lightgreen;

    display: block;
}

button {
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.navbar {
    padding: 2ch 0;
}

.navbar-nav {
    margin-left: 40px;
}

.nav-name {
    font-size: 25px;
    margin-left: 10px;
}

.nav-button {
    font-size: 20px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #198754;
    text-decoration: underline;
}

.nav-link.active {
    color: white;
}

footer {
    margin-top: auto;
    padding: 15px;
    background-color: rgb(48, 46, 46);
    font-weight: lighter;
    font-size: 0.9em;
    color: #999;
}