body{
    background-color: #F5F3EC !important;
}

#description{
    border: solid;
    width: 400px;
    /* height: 480px; */

    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 30px;

    padding: 10px;

    background-color:rgb(200, 198, 198);
    border-radius: 20px;
}

#descHere{
    font-size: 25px;
}

#enterFood, #portion, #portionSize{
    /* margin-top: 20px; */
    margin-left: 5%;
    display: block;
    font-size: 20px;
}

#foodLabel, #portionLabel, #portionSizeLabel{
    display: block;
    margin-left: 5%;
    font-size: 20px;
}

#enterFood{
    margin-bottom: 2%;
}

#portion{
    margin-bottom: 2%;
}

#portionSize{
    margin-bottom: 2%;
}

#searchFood{
    font-size:30px;
    margin-left: 5%;
    padding: 5px;
}

.form-select{
    width:25% !important;
}
.form-control{
    width:25% !important;
}


#foodInfo{
    margin-left: 65%;
    margin-right: 5%;
    margin-top: -25%;
    font-size: 25px;
    padding: 25px;

    border:solid;
    background-color: whitesmoke;
    border-radius: 20px;
}

#foodInfoHead{
    font-size: 30px;
}

#results{
    margin-top: -25%;
    margin-left: 42%;
    width: 220px;

    padding: 15px;
    
    border:solid;
    border-radius: 20px;
    background-color: lightgreen;
}

button {
  transition: transform 0.2s ease-in-out; 
}
button:hover {
  transform: scale(1.1); 
}

.nav-button{
    font-size: 20px;
    margin-right: 10px;
}

.nav-link {
    color: white;
    transition: 0.2s;
}

.nav-link:hover {
    color: lightgray;
    text-decoration: underline;
}

.nav-link:active {
    transform: scale(0.9);
}

.nav-link.active {
    font-weight: bold;
    color: white;
}
